@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --primary-color: #0A1690;
  --black: #17171B;
}

body {
  color: var(--black);
  overflow-x: hidden;
}

.ve-container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

header.main-top {
  padding: 20px 0;
}
